#							-*-conf-unix-*-
*.cm[ioax]
*.cmxa
*.annot
*.com
*.exe
.depend.ocaml
META
doc/*.html
doc/*.css
tests/pendulum
# _oasis & ocamlbuild
_build
_tags
setup.*
*.clib
*.mllib
*.txt
*.odocl
*.byte
*.native
*.bak
src/fortran/
*.tar.gz